<!DOCTYPE html>
<html>
  <head>
    <title>Millow</title>
    
    <script src="https://kit.fontawesome.com/3056f8dd0b.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Millow" />
    <meta property='og:image' content="<%= image_url('project_pic.jpg') %>"/>
    <meta property="og:description"
      content="A pixel-perfect clone of Zillow inspired by the time I spent perusing properties in college."
    />
    <meta property="og:url"
      content="https://willow-trees.herokuapp.com/#/"
    />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
